---
import { getCollection } from "astro:content";

import Link from "@/components/link.astro";
import Meta from "@/components/meta.astro";
import Base from "@/layouts/base.astro";

const blogPosts = await getCollection("blog");
---

<Base>
  <Meta title="Blog" slot="meta" />
  <article>
    <h1>Blog</h1>
    <ul>
      {
        blogPosts.map((post) => (
          <li>
            <time datetime={post.data.pubDate?.toISOString()}>
              {post.data.pubDate?.toLocaleDateString("fr-CA")}
            </time>
            <Link href={`/blog/${post.slug}`}>{post.data.title}</Link>
          </li>
        ))
      }
    </ul>
  </article>
</Base>
