---
import Base from "@/layouts/base.astro";
---

<Base>
  <article class="grid gap-3">
    <h1 class="mb-4 text-5xl font-extrabold">Hi, I'm Krzysztof Żuraw</h1>
    <h2 class="font-bold">
      I am a self-taught fullstack developer with over 5 years of experience.
    </h2>
    <p>
      My expertise lies in building React and TypeScript websites and web-apps.
      Currently, I work as a Staff Engineer at <a
        href="https://saleor.io"
        class="underline">Saleor</a
      >. In my free time, I enjoy brewing specialty coffee using V60.
    </p>
  </article>
</Base>
