---
import { getCollection } from "astro:content";

import Link from "@/components/link.astro";
import Layout from "@/layouts/layout.astro";

const blogPosts = await getCollection("blog").then((posts) =>
  posts.slice(0, 3),
);
---

<Layout>
  <article class="prose lg:prose-lg max-w-none">
    <h1>Hi, I'm Krzysztof Żuraw</h1>
    <h2>
      I am a self-taught fullstack developer with over 5 years of experience.
    </h2>
    <p>
      My expertise lies in building React and TypeScript websites and web-apps.
      Currently, I work as a Staff Engineer at Saleor. In my free time, I enjoy
      brewing specialty coffee using V60.
    </p>
    <p>My most recent posts</p>
    <ul>
      {
        blogPosts.map((post) => (
          <li>
            <Link href={`/blog/${post.slug}`}>{post.data.title}</Link>
          </li>
        ))
      }
    </ul>
  </article>
</Layout>
