---
import Link from "@/components/link.astro";
import Meta from "@/components/meta.astro";

const today = new Date();

import "./global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="meta">
      <Meta title="Krzysztof Żuraw" />
    </slot>
  </head>
  <body>
    <header>
      <h1>kzuraw.com</h1>
      <nav>
        <Link href="/">Home</Link>
        <Link href="/blog">Blog</Link>
        <Link href="/rss.xml">RSS</Link>
        <Link href="https://github.com/krzysztofzuraw">GitHub</Link>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
