---
import Link from "@/components/link.astro";
import Meta from "@/components/meta.astro";

const today = new Date();
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="meta">
      <Meta title="Krzysztof Żuraw" />
    </slot>
  </head>
  <body>
    <header>
      <h1>kzuraw.com</h1>
      <nav>
        <Link href="/">Home</Link>
        <Link href="/blog">Blog</Link>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>
        &copy; 2024 - {today.getFullYear()} Krzysztof Żuraw. All rights reserved.
      </p>
      <ul>
        <Link href="/rss.xml">RSS</Link>
        <Link>
          <Link href="https://github.com/krzysztofzuraw">GitHub</Link>
        </Link>
      </ul>
    </footer>
  </body>
</html>
