---
import Link from "@/components/link.astro";
import Meta from "@/components/meta.astro";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="meta">
      <Meta title="Krzysztof Żuraw" />
    </slot>
  </head>
  <body
    class="mx-auto flex min-h-screen max-w-3xl flex-col gap-y-16 px-4 py-10 antialiased sm:px-6 sm:py-12 lg:max-w-4xl lg:px-8 lg:py-16 lg:text-xl xl:max-w-6xl"
  >
    <header>
      <nav class="flex gap-x-2 justify-between border-b-1 border-gray-300 pb-2">
        <div class="flex gap-x-3">
          <Link href="/">Home</Link>
          <Link href="/writing">Writing</Link>
        </div>

        <div>
          <Link href="/rss.xml">RSS</Link>
        </div>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer class="flex gap-x-2 justify-between pb-2">
      <div>
        &copy; {new Date().getFullYear()} Krzysztof Żuraw. All rights reserved.
      </div>
      <div>
        <Link href="https://github.com/krzysztofzuraw">GitHub</Link>
      </div>
    </footer>
  </body>
</html>
