---
import { getCollection } from "astro:content";

import Link from "@/components/link.astro";
import Meta from "@/components/meta.astro";
import Layout from "@/layouts/layout.astro";

const writing = await getCollection("writing");
---

<Layout>
  <Meta title="Writing" slot="meta" />
  <article>
    <h1 class="font-bold text-3xl mb-4">Writing</h1>
    <ul>
      {
        writing.map((post) => (
          <li>
            <time datetime={post.data.pubDate?.toISOString()} class="font-mono">
              {post.data.pubDate?.toLocaleDateString("fr-CA")}
            </time>
            <Link href={`/writing/${post.slug}`} class="underline">
              {post.data.title}
            </Link>
          </li>
        ))
      }
    </ul>
  </article>
</Layout>
